.pill {

    button {
        padding: 16px 22px;
        border-radius: 50px;
    }

    .one {
        background-color: #D9D9D9;
        color: #181414;
    }

    .two {
        color: #D9D9D9;
        background-color: rgba(0, 0, 0, 0.04);
    }
}