@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;


  background-color: var(--black);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --green: #578660;
  --blue_moon: #649AED;
  --red_red_wine: #EB5640;
  --mellow_yellow: #F6C874;
  --whiter_shade_of_pale: #A7C2D1;
  --evergreen: #D5f479;
  --pretty_in_pink: #F7CFD4;
  --pink_moon: #E56BA1;
  --yellow_submarine: #F4E357;

  // UI / Grey
  --grey_0: rgba(255, 255, 255, 0.04);
  --grey_1: rgba(255, 255, 255, 0.08);
  --grey_2: rgba(255, 255, 255, 0.12);
  --grey_3: rgba(255, 255, 255, 0.20);
  --grey_4: rgba(255, 255, 255, 0.30);
  --grey_5: rgba(255, 255, 255, 0.40);
  --grey_6: rgba(255, 255, 255, 0.50);
}